<%- include('./template/openTemplate') %>
    <div>
      <p class="fs-2 text-center main-title">Welcome to Matrix Master Community</p>
    </div>
    <div class="box">
      <div id="left-side">
        <p>Log In</p>
        <form action="/logIn" method="POST"> 
          <input placeholder="Email" name="Email" class="form-control">
          <input placeholder="Password" name="Password" class="form-control">
          <button type="submit" class="btn">Submit</button>
          <p><%= loginError %></p>
        </form>
      </div>
      <div id="right-side">
        <p>Sign Up</p>
        <form action="/signUp" method="POST">
          <input placeholder="Full Name" name="UserName" class="form-control" required>
          <input placeholder="Email" name="Email" class="form-control" required>
          <input placeholder="Password" name="Password" class="form-control" required>
          <input placeholder="Repeat Password" name= "RepeatedPassword" class="form-control"  required>
          <button type="submit" class="btn ">Submit</button>
          <p><%= error %></p>
        </form>
      </div>
    </div>
     
<%- include('./template/closeTemplate') %>