<%- include('./template/openTemplate') %>
    <form action="/postQuestion" method="POST">
      <label for="question">Question</label>
      <input type="text" id="question" name="question">
      <label for="description">description</label>
      <input type="text" id="description" name="description">
      <button type="submit">Submit</button>
    </form>

<%- include('./template/closeTemplate') %>