/* global */
body{
  background-color: rgb(7, 7, 7);
  color: rgb(206, 206, 206);
  font-family: Arial, Helvetica, sans-serif;
  
}

a{
  text-decoration: none;
  color: rgb(253, 253, 112);
}

a:hover{
  text-decoration: none;
  color: rgb(90, 78, 38);
}

/* Colors */

.orangy {
  color: #ffc107;
}

.gray {
  color: gray;
}

/* Header */

.main-header{
  background-color: black;
  position: fixed;
  width: inherit;
  top: 0;
  padding-top: 20px;
}

#main-container{
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
  height: 90 vh;
  margin-top: 100px;
}

.main-title{
  color: darkblue;
  text-shadow: 
  0 0 5px rgb(47, 158, 255),
  0 0 10px rgb(47, 158, 255),
  0 0 20px rgb(47, 158, 255),
  0 0 40px rgb(47, 158, 255),
  0 0 80px rgb(47, 158, 255);
  transition: 1000ms;
}

.main-title:hover{
  color: rgb(26, 26, 206);
  text-shadow: 
  0 0 5px rgb(121, 185, 241),
  0 0 10px rgb(106, 185, 255),
  0 0 20px rgb(126, 194, 253),
  0 0 40px rgb(129, 193, 248),
  0 0 80px rgb(110, 184, 248),
  0 0 160px rgb(110, 184, 248);
  transition: 1000ms;
}



.btn-color{
  background-color: rgb(11, 138, 64);
  text-decoration: none;
  margin-bottom: 30px;
}

.btn-color:hover{
  background-color: greenyellow;
  text-decoration: none;
}

/* Main */

.post-container{
  margin: 15px;
  padding: 15px;
  border: grey solid 3px;
  border-bottom: grey solid 0px;
  width: 80%;
  margin: auto;
  background-color: #292721;
}

.post-info-container{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.post-description{
  width: 75%;
  padding-left: 15px;
}

.post-details{
  width: 25%;
  padding-right: 15px;
}

.question-description{
  width: 60%;
  padding-left: 30px;
}

.question-buttons,
.question-details{
  width: 15%;
}

.comments-header{
  width: 80%;
  margin: auto;
  padding: 30px;
}

/* Login */

.box{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  min-height: 68vh;
}

.auth-title{
  padding: 50px 0;
}

#left-side,
#right-side{
  width: 40%;
  padding-left: 5%;
  box-sizing: border-box;
  border: 1px solid #ffc107;
}

#right-side form *{
  display: block;
  margin-bottom: 10px;
  width: 80%;
}
#right-side form p{
  color: red;
}

#left-side form *{
  display: block;
  margin-bottom: 10px;
  width: 80%;
}

#left-side p, #right-side p{
  margin-bottom: 30px;
}

#right-side form button,
#btn-insertion,
#left-side form button{
  background-color: #ffc107;
  color: white;
}

/* Add Question page */

.form{
  text-align: center;
}

.form div * {
  width: 80%;
  margin: auto;
}



/* Footer */

footer{
  font-size: small; 
  margin: auto;
  text-align: center; 
}

footer p{
  margin: 0;
}

.comment-form{
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.comment-form div textarea{
  width: 100%;
}